dist
.env*
/data
.nitro
.output
.vercel
.cursor
TODO.md
coverage
.netlify
.DS_Store
.tanstack
node_modules
!.env.example
public/sw.js
public/sw.js.map
scripts/**/*.json
public/workbox-*.js
public/workbox-*.js.map
# Auto Claude
.auto-claude/
.auto-claude-allowlist
.auto-claude-security.json
.claude_settings.json
